@charset "UTF-8";
/* CSS Document */


/* PURPLE: http://slayeroffice.com/tools/color_palette/?hex=39275b */
/* GOLD: http://slayeroffice.com/tools/color_palette/?hex=C79900 */


* {margin: 0; padding: 0;}

html {
	font-size: 100%; /* sets ALL type to 16px = 1em */
	background-color: #39275b;
	background: linear-gradient(#2B1D44, #39275b)
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/bg-boxes.png);
	background-position: top center;
	background-repeat: repeat-x;

}

h1, h2, h3 {
	/*color: #666; */
	/* padding-top: 10px; */
	/* margin-bottom: 4px;*/
}

a {
	/*color: #666;*/
}

p em {
	color: red;
}

.redtext {
	/* color: red; */
}

.white {
	background-color: white;
}

.purple {
	background-color: #39275b;
}

p.redtext {
	/* border-bottom: 1px solid red; */
}

#header {
	max-width: 980px;
	margin: 0 auto;
	padding: 20px 0;
}

#header h1 {
	font-size: 2.25em; /* 36px / 16px = 2.25em */
}

	#logo {}

	#logo a {
		color: #FFF;
		text-decoration: none;
	}

	#logo a:hover {
		color: #C79900;
	}

#navigation {
	max-width: 980px;
	margin: 0 auto;
	padding: 10px 0;
}

#navigation ul {
	text-align: left;
}

#navigation ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	text-align: left;
}

	#navigation ul li a {
		display: block;
		text-decoration: none;
		color: #FFF;
	}

	#navigation ul li a:hover {
		color: #C79900;
	}

	#navigation ul li.current a {
		color: #C79900;
	}

#content {	
	background-image: url(/*images/bg-960.png*/);
	background-repeat: repeat-y;
	background-position: center;
	background-color: #FFF;
	max-width: 940px;
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
	border-radius: 10px;
}

#content p {
	font-size: 1em; /* 16px / 16px = 1em */
	line-height: 1.5em;
	margin-bottom: 1em;

}

#content h2 {
	color: #39275b;
	font-size: 1.5em; 
	line-height: 100%;
	padding-top: 8px;
	margin-bottom: 4px;
}

#content h3, 
#content label {
	color: #39275b;
	font-size: 1.125em;
	line-height: 100%;
	padding-top: 8px;
	margin-bottom: 4px;
}

#content label,
#content textarea {
	display: block;
}

#content input,
#content select,
#content textarea,
#content button {
	border: 1px solid #39275b;
	border-radius: 2px;
	font-size: 1em;
	padding: 4px;
	margin-bottom: 10px;
}

#content button {
	color: #fff;
	background-color: #39275b ;
}


#text ul, 
#text ol,
#sidebar ul, 
#sidebar ol {
	margin-bottom: 2em;
}

#text li,
#sidebar li {
	font-size: 1em;
	line-height: 1.5em;
}

#text ul li {
	list-style-image: url(images/bg-bullet.png);
}

.size-medium {
	width: 300px;
	border-radius: 50%;
}

.align-right {
	float: right;
	margin-left: 20px;
}

.align-left {
	float: left;
	margin-right: 20px;
}

#text {
	width: 620px;
	float: left;
}

#text ol, 
#text ul {
	padding: 0 16px;
}

div.widget-item {
	width: 300px;
	float: left;
	margin-right: 20px;
}

div.widget-item:last-child {
	/* margin-right: 0px;*/
}

#widgets {
	margin-right: -20px;
}

#sidebar {
	width: 300px;
	float: right;
}

#sidebar ol,
#sidebar ul {
	padding: 0 16px;
}

#footer {
	clear: both;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Desktop Screen Set to 1024px or Below */
@media screen and (max-width: 1024px) {
	
	#text { 
		width: 65.95% ; /* 620px / 940px */
	}
	
	#sidebar {
		width: 31.91% ; /* 300px / 940px */
	}
	
	div.widget-item {
		width: calc(33.33% - 20px);
	}
	
}

/* Tablet Screen Set to 800px or Below */
@media screen and (max-width: 800px) {
	
	#header,
	#navigation, 
	#footer {
		padding: 0 2.04%;
	}
	
	#content {
		border-radius: 0;
	}
	
}

/* Phone Screen Set to 600px or Below */
@media screen and (max-width: 600px) {
	
	/* We will do this next week... */
	
}


